<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Dohyun's Lab">
<meta name="author" content="leedohyun">
<title>Dohyun's Lab</title>
<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/jumbotron/">

<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap-5.0.1-dist/css/bootstrap.min.css}" rel="stylesheet">

<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>

</head>
<body>
	<main>
		<div class="container py-4">
			<header class="pb-3 mb-4 border-bottom">
				<a href="/" class="d-flex align-items-center text-dark text-decoration-none">
				<span class="fs-4">이도현의 연구실</span>
				</a>
			</header>

			<div class="p-5 mb-4 bg-light rounded-3">
				<div class="container-fluid py-5">
					<h1 class="display-5 fw-bold">Continuous Learning, Continuous Development</h1>
					<p class="col-md-8 fs-4">
					직접 개발한 다양한 웹 어플리케이션을 모아두었습니다.
					</p>
				</div>
			</div>

			<div class="row align-items-md-stretch">
				
				<div class="col-md-6">
					<div class="h-100 p-5 text-white bg-dark rounded-3">
						<h2>홈페이지 이력서</h2>
						<p>
						제 이력서를 홈페이지로 만들었습니다. Spring boot, Template engine은 Thymeleaf로 작성되었습니다.
						<br>
						<i class="bi bi-github"></i><a href="https://github.com/leedohyun1985/resume">https://github.com/leedohyun1985/resume</a>
						</p>
						<button class="btn btn-outline-light" type="button" th:onclick="'location.href=\''+ @{/resume} + '\''"> 바로가기</button>
					</div>
				</div>

				<div class="col-md-6">
					<div class="h-100 p-5 bg-light border rounded-3">
						<h2>Add borders</h2>
						<p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the
							source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
						<button class="btn btn-outline-secondary" type="button">Example button</button>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="h-100 p-5 bg-light border rounded-3">
						<h2>Add borders</h2>
						<p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the
							source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
						<button class="btn btn-outline-secondary" type="button">Example button</button>
					</div>
				</div>
				
				<div class="col-md-6">
					<div class="h-100 p-5 text-white bg-dark rounded-3">
						<h2>Change the background</h2>
						<p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional
							component themes and more.</p>
						<button class="btn btn-outline-light" type="button">Example button</button>
					</div>
				</div>
				
			</div>

			<footer class="pt-3 mt-4 text-muted border-top"> &copy; 2021 </footer>
		</div>
	</main>
</body>
</html>
