<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<title>Dohyun's Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/w3.css">
<link rel="stylesheet" href="/css/w3-theme-black.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>

	<!-- Header -->
	<header class="w3-container w3-theme w3-padding" id="myHeader">
		<i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
		<div class="w3-center">
			<h4>도현의 포트폴리오</h4>
			<h1 class="w3-xxxlarge w3-animate-bottom">웹 개발 실험실</h1>
		</div>
	</header>

	<div class="w3-row-padding w3-center w3-margin-top">
	
		<div class="w3-third">
			<div class="w3-card w3-container" style="min-height: 300px">
				<h3>이력서</h3>
				<br>
				<a th:href="@{/resume}">
					<i class="fa fa-file-text-o w3-margin-bottom w3-text-theme"	style="font-size: 120px"></i>
				</a>

			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card w3-container" style="min-height: 300px">
				<h3>PDF/Image 뷰어</h3>
				<br> 
				<a th:href="@{/viewer}">
					<i	class="fa fa-file-pdf-o w3-margin-bottom w3-text-theme" style="font-size: 120px"></i>
				</a>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card w3-container" style="min-height: 300px">
				<h3>빈공백체크를 위한 더미 카드</h3>
				<br> 
				<a th:href="@{/}">
					<i	class="fa fa-file-pdf-o w3-margin-bottom w3-text-theme" style="font-size: 120px"></i>
				</a>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card w3-container" style="min-height: 300px">
				<h3>빈공백체크를 위한 더미 카드</h3>
				<br> 
				<a th:href="@{/}">
					<i	class="fa fa-file-pdf-o w3-margin-bottom w3-text-theme" style="font-size: 120px"></i>
				</a>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card w3-container" style="min-height: 300px">
				<h3>빈공백체크를 위한 더미 카드</h3>
				<br> 
				<a th:href="@{/}">
					<i	class="fa fa-file-pdf-o w3-margin-bottom w3-text-theme" style="font-size: 120px"></i>
				</a>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card w3-container" style="min-height: 300px">
				<h3>빈공백체크를 위한 더미 카드</h3>
				<br> 
				<a th:href="@{/}">
					<i	class="fa fa-file-pdf-o w3-margin-bottom w3-text-theme" style="font-size: 120px"></i>
				</a>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card w3-container" style="min-height: 300px">
				<h3>빈공백체크를 위한 더미 카드</h3>
				<br> 
				<a th:href="@{/}">
					<i	class="fa fa-file-pdf-o w3-margin-bottom w3-text-theme" style="font-size: 120px"></i>
				</a>
			</div>
		</div>

		<div class="w3-third">
			<div class="w3-card w3-container" style="min-height: 300px">
				<h3>빈공백체크를 위한 더미 카드</h3>
				<br> 
				<a th:href="@{/}">
					<i	class="fa fa-file-pdf-o w3-margin-bottom w3-text-theme" style="font-size: 120px"></i>
				</a>
			</div>
		</div>


	</div>

	<!-- Footer -->
	<footer class="w3-container w3-theme-dark w3-padding-16">
		<p>
			Copyrightⓒ 2021 by Lee Dohyun. All Page content is property of Lee Dohyun
		</p>
		<div style="position: relative; bottom: 55px;" class="w3-tooltip w3-right">
			<span class="w3-text w3-theme-light w3-padding">Go To Top</span>  <a
				class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
					<i class="fa fa-chevron-circle-up"></i>
			</span></a>
		</div>
	</footer>

</body>
</html>
